<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – TaxiApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Taxi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- li>@Html.ActionLink("About", "About", "Home")</!li -->
                    <!--li>@Html.ActionLink("Contacts", "Contact", "Home")</!li -->
                    <li>@Html.ActionLink("Заказать такси", "NewOrder", "Home")</li>
                    <li>@Html.ActionLink("Свободные машины", "DriverFree", "Home")</li>
                    <li>&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("История заявок", "IamClient", "Home")</li>
                    <li>@Html.ActionLink("Я водитель", "IamDriver", "Home")</li>
                    <li>&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Машины", "DriverList", "Home")</li>
                    <li>@Html.ActionLink("Заявки", "OrderList", "Home")</li>
                    <li>&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Пользователи", "UserList", "Account")</li>
                    <li>@Html.ActionLink("Init", "DbInit", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Kaprov Oleg, тестовое приложение ASP.NET MCV 5 for Akron-Holding </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
