@using TaxiApp.Models;
@model IEnumerable<Driver>
@{
    ViewBag.Title = "Свбодные машины";
}
<h2>Свбодные машины для Вас</h2>
Где то рядом наш водитель ждет вашей заявки! Посмотрите и убедитесь!<br />
<img src="~/Images/M_Add.gif" alt="" /> <a href="/Home/NewOrder/">Заказать такси</a><br />
<br />

<h2>Карта доступных автомобилей/водителей</h2>
    <div id="map1" style="width:100%; height:600px;"></div>
<script type='text/javascript' language='javascript'>
    // Можно загрузить объекты на карту через JSON
    // Или выгрузить тут в объект JavaScript
    var objall = []; var no = 0;
</script>
@foreach (var b in ViewBag.Drivers)
{
    if (b.mapX53 > 52 && b.mapY49 > 48)
    {
    <script type='text/javascript' language='javascript'>
            var obj = {};
            obj.oid = @b.DriverID;
            obj.lat = @b.mapX53.ToString().Replace(",", ".");
            obj.lng = @b.mapY49.ToString().Replace(",", ".");
            obj.tit = "@b.DriverName @b.AutoModel";
            objall.push(obj);
    </script>
    }
}
<script type='text/javascript' language='javascript'>
    function initMap() {
        var uluru = { lat: 53.5086, lng: 49.41983 };
        var bound = new google.maps.LatLngBounds();
        var gmap = new google.maps.Map(document.getElementById('map1'), {
            zoom: 14,
            center: uluru
        });
        for (no = 0; no < objall.length; no++) {
            var marker = new google.maps.Marker({
                position: { lat: objall[no].lat, lng: objall[no].lng },
                map: gmap,
                title: objall[no].tit
            });
            var latlng1 = new google.maps.LatLng(Number(objall[no].lat), Number(objall[no].lng));
            bound.extend(latlng1);
        };
        gmap.setCenter(bound.getCenter());
        gmap.fitBounds(bound);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRIqtrVxv-BhnShHKRQMmMVs3B6z7aPHk&callback=initMap">
</script>


